

fieldset.coe_cfoapal_vertical_fields {
    
    
}

fieldset.coe_cfoapal_vertical_fields legend {}

fieldset.coe_cfoapal_vertical_fields div.form-item {display: block; clear: both; padding-top: .25em;}

fieldset.coe_cfoapal_vertical_fields div.form-item label,
fieldset.coe_cfoapal_vertical_fields div.form-item select { float: left; width: 20%;}
fieldset.coe_cfoapal_vertical_fields div.form-item input {float: left; }
fieldset.coe_cfoapal_vertical_fields div.form-item div.description {padding-left: 2em; float: left; width: 40%;}

div.coe_cfoapal-set { clear: both; margin-bottom: 20px; vertical-align: bottom;}

div.coe_cfoapal-set div.label {
    float: left; width: 30%;
    margin: 0px;
    padding: 20px 0px 0px 0px;
    display: block;
    text-align: right;
    }
    
div.coe_cfoapal-set label {display: inline; padding-right: 20px;}


div.rhs { width: 70%; float: right;}
div.coe_cfoapal-set div.rhs div.description { text-align: left; }
div.coe_cfoapal-set div.rhs div.coe_cfoapal-digit-group { text-align: left; }




div.coe_cfoapal-set div.rhs div.coe_cfoapal-digit-group div.form-item { display: inline; }


div.coe_cfoapal-set div.form-item input.coe_cfoapal { width: auto; text-align: center; display: inline; }

div.coe_cfoapal-set div.form-item input.coe_cfoapal-integer {}

div.coe_cfoapal-set div.form-item input.coe_cfoapal-decimal {}